<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wologic"
    android:versionCode="1"
    android:versionName="6.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 设置时区的权限 -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <!-- 创建删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 获得联系人信息，机器信息等权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 获得允许不同应用之间的交互权限 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:name="com.wologic.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.wologic.ui.MainTwoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wologic.ui.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wologic.ui.GoodsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wologic.ui.PickerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wologic.ui.CancelPickerActivity"
            android:screenOrientation="portrait" >
        </activity>
        
          <activity
            android:name="com.wologic.ui.PartnerPickerQueryDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        
          
        <activity
            android:name="com.wologic.ui.ExecActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wologic.ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wologic.ui.PartnerPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.wologic.ui.PartnerOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.wologic.ui.PartnerPreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        
          <activity
            android:name="com.wologic.ui.PartnerPickerQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        
                    <activity
            android:name="com.wologic.ui.GoodsBarCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>
                                 <activity
            android:name="com.wologic.ui.BarCodeScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
                 </activity>
                                                        <activity
            android:name="com.wologic.ui.SortingGoodsScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
          
                                                             <activity
            android:name="com.wologic.ui.SortingGoodsStoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>
             
               <activity
            android:name="com.wologic.ui.SortingPickActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>                                                
       <activity
            android:name="com.wologic.ui.StoreSortProcessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>         
        
        <activity
            android:name="com.wologic.ui.PurchaseAcceptActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>   
             
        <activity
            android:name="com.wologic.ui.Purchase_Accept_Scan_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity> 
             
        
           <activity
            android:name="com.wologic.ui.PurchaseAcceptEndActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>   
             
           
                <activity
            android:name="com.wologic.ui.PurchaseAcceptMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                    <activity
            android:name="com.wologic.ui.PickerScanContainerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                        <activity
            android:name="com.wologic.ui.PickerListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                            <activity
            android:name="com.wologic.ui.PickerEndActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                <activity
            android:name="com.wologic.ui.InventoryOneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                    <activity
            android:name="com.wologic.ui.InventoryTwoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                 <activity
            android:name="com.wologic.ui.PurchaseAcceptDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity> 
             
                            <activity
            android:name="com.wologic.ui.PurchaseAcceptNotEndDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>   
             
                             <activity
            android:name="com.wologic.ui.PurchaseAcceptEditEndActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>      
             
                                 <activity
            android:name="com.wologic.ui.InventoryThreeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>       
             
                                        <activity
            android:name="com.wologic.ui.ContainerSkuSurplusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>      
             
                                              <activity
            android:name="com.wologic.ui.FreeInventoryInputNumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                                 <activity
            android:name="com.wologic.ui.FreeInventoryGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>              
             
                                                    <activity
            android:name="com.wologic.ui.FreeInventoryAreaListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                                    
                                                    <activity
            android:name="com.wologic.ui.PickerMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity> 
             
                                                             
                                                    <activity
            android:name="com.wologic.ui.StandSortMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
              <activity
            android:name="com.wologic.ui.ZhuangBoxMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                <activity
            android:name="com.wologic.ui.PartnerSortingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                      <activity
            android:name="com.wologic.ui.PartnerSortingGoodsStoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                      
                      <activity
            android:name="com.wologic.ui.PartnerSortingPickActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                        <activity
            android:name="com.wologic.ui.PartnerPreBatchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                             <activity
            android:name="com.wologic.ui.GoodsSuitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                          <activity
            android:name="com.wologic.ui.GoodsSuitCaiJiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                                 <activity
            android:name="com.wologic.ui.GoodsSuitInBoundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
       
                                                 
                                                        <activity
            android:name="com.wologic.ui.GoodsSuitInBoundBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>  
             
                                          
                                                        <activity
            android:name="com.wologic.ui.SuitSortMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity> 
             
                                                            
                                                        <activity
            android:name="com.wologic.ui.SuitGoodsScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>                                           
            
                                        
                                                        <activity
            android:name="com.wologic.ui.SortingSuitGoodsStoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>   
             
            
                                                        <activity
            android:name="com.wologic.ui.SortingSuitPickActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
             </activity>                                                                                            
                                                        
    </application>

</manifest>